{% set mutator = mutator[0] %}
{% set evaluator = evaluator[0] %}

# 1. instantiate components
{{ mutator | render }}
{{ evaluator | render(molecule=in_molecule) }}

# 2. instantiate driver
driver = ProtoSyn.Drivers.MonteCarlo(
    nsteps={{nsteps}},
    mutator={{mutator['in_mutator']}},
    evaluator={{evaluator['in_evaluator']}}
)

# 3. run driver
{%- if callback|length > 0 %}
{{ out_molecule }} = driver({{in_molecule}}) do ds,st
    {% for cb in callback %}
    {{ cb | render(driver_state='ds', state='st') | indent(width=4) }}
    {% endfor %}
end
{% else %}
{{out_molecule}} = driver()
{% endif %}
